<launch> 
  <arg name="node_start_delay" default="0"/>
  <arg name="node_start_delay1" default="0"/>
  <node pkg="arobota2" type="assign_centroid_search_cancel.py" name="search" output="screen"/>
  <node pkg="arobota2" type="centroid_multi_submit.py" name="submit" output="screen"/>
  <node pkg="arobota2" type="assign_path_to_robot_1_4.py" name="path1" output="screen"/>
  <node pkg="arobota2" type="assign_path_to_robot_2_4.py" name="path2" output="screen"/>
  <node pkg="arobota2" type="assign_path_to_robot_3_4.py" name="path3" output="screen"/>
  <node pkg="arobota2" type="camera_color_ros_with_publish_1.py" name="cam1" output="screen"/>
  <node pkg="arobota2" type="camera_color_ros_with_publish_2.py" name="cam2" output="screen"/>
  <node pkg="arobota2" type="camera_color_ros_with_publish_3.py" name="cam3" output="screen"/>
  
  <!-- <node pkg="arobota2" type="publish_ball_position_multi.py" name="ball" output="screen"/> -->

  <node pkg="arobota2" type="publish_ball_position_multi_pub.py" name="ball" output="screen"/>
  <node pkg="arobota2" type="publish_fix_ball_marker.py" name="marker_ball" output="screen"/>
  <node pkg="arobota2" type="assign_path_to_robot_1_5.py" name="path1_ball" output="screen"/>
  <node pkg="arobota2" type="assign_path_to_robot_2_5.py" name="path2_ball" output="screen"/>
  <node pkg="arobota2" type="assign_path_to_robot_3_5.py" name="path3_ball" output="screen"/>
  <node pkg="arobota2" type="centroid_multi_submit_ball.py" name="submit_ball" output="screen"/>


</launch>
